.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.header{
  width: 100vw;
  height: 20vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerButton{
  margin: 20px;
}
.dashboard{
  width: 60vw;
  height: 80vh;
  margin-left: 20vw;
  background-color: antiquewhite;
}
.form{
  width: 38vw;
  margin-left: 31vw;
  height: 80vh;
}