.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.header{
  width: 100vw;
  height: 20vh;
  background-color: red;
}
.dashboard{
  width: 60vw;
  height: 80vh;
  background-color: antiquewhite;
}
.form{
  width: 38vw;
  height: 80vh;
}